* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid black;
  background-image: url(https://www.inxile-entertainment.com/_nuxt/img/background.e1d88e4.jpg);
  color: rgb(234, 234, 234);
}

#header-container {
  position: relative;
padding-bottom: 50px;
  border-bottom: 1px solid rgb(4, 114, 4);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

#logo {
  height: 80px;
  position: absolute;
  top: -20px;
  left: 25px;
  border-radius: 50%;
}

#nav-bar {
  display: flex;
  width: 600px;
  position: absolute;
  top: 10px;
  right: 0;
  justify-content: flex-end;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  margin: 10px 5px;
}

#experience-container {
  text-align: center;
  margin-top: 100px;
  height: 260px;
  background-image: url(/Images/XGSP_banner_resized.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position-y: 20.5%;
  position: relative;
  border: 1px solid black;
  color: black;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 25px;
  font-weight: bold;
}

#experience-inner-container {
  background-color: white;
  opacity: 90%;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#publishing-experience-header {
  margin-bottom: 0;
}

#adf-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(4, 114, 4);
  padding-bottom: 100px;
  padding-top: 100px;
  border-top: 1px solid rgb(4, 114, 4);
}

#adf-img {
  width: 75%;
}

#games-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(4, 114, 4);
  padding-bottom: 100px;
}

#upcoming-games-header {
  flex-basis: 100%;
  margin-bottom: 20px;
}

#games-one-container,
#games-two-container,
#games-three-container {
  display: flex;
}

#games-one-image,
#games-two-image,
#games-three-image {
  margin-right: 10px;
  border-radius: 2%;
  height: 300px;
}

#games-one-description,
#games-two-description,
#games-three-description {
  margin: auto;
}
#games-one-description p,
#games-two-description p,
#games-three-description p {
  margin: auto;
  font-size: 25px;
}

#team-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
  border-bottom: 1px solid rgb(4, 114, 4);
  padding-bottom: 100px;
}

#team-header {
  flex-basis: 100%;
}

#team-container-one,
#team-container-two,
#team-container-three {
  margin-top: 15px;
}

#team-description-one,
#team-description-two,
#team-description-three {
  text-align: center;
}

.job-title {
  font-size: 23px;
}

#team-picture-one img,
#team-picture-two img,
#team-picture-three img {
  border-radius: 2%;
}

#contact-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 50px 0;
}

.fa {
  padding: 16px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

#social-media-container {
  text-align: center;
}

#social-media-container,
#address-container,
#email-container,
#trademarks-container {
  border-right: 1px solid rgb(234, 234, 234);
  padding-right: 40px;
  margin: 0 20px;
}

#trademarks-container {
  border: none;
}
